* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: #f8faff;
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 1150px) {
  body {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png) center top no-repeat;
  }
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  padding: 0;
}

.btn {
  height: 50px;
  padding: 0;
  margin: 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background: #1968FC;
  color: #fff;
}

.rel {
  position: relative;
}

.container {
  margin: 0 60px;
  position: relative;
}
@media screen and (min-width: 1150px) {
  .container {
    width: 1120px;
    margin: 0 auto;
  }
}

.container-fix {
  margin: 0 80px;
}

.title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 60px;
  font-weight: normal;
}

.line {
  border: 1px solid #1968FC;
  height: 2px;
  width: 80px;
  margin-top: 10px;
}
@media screen and (min-width: 1150px) {
  .line {
    margin-left: -40px;
  }
}

.point__decoration {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

@media screen and (min-width: 1150px) {
  .title-for-sm {
    display: none;
  }
}

.title-for-lg {
  display: none;
}
@media screen and (min-width: 1150px) {
  .title-for-lg {
    display: block;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1150px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

.shadow {
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}

.page-header {
  margin-top: 30px;
}

.topNavMenu {
  display: flex;
  justify-content: space-between;
}

.page-header__navigation {
  margin-left: auto;
}

.menu__list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.menu__link {
  text-decoration: none;
  color: #000000;
  align-items: center;
  padding: 0 20px;
}

.page-header__btn {
  display: none;
}
@media screen and (min-width: 1150px) {
  .page-header__btn {
    display: block;
    width: 180px;
  }
}

.logo {
  display: flex;
}
.logo__img {
  height: 50px;
  width: 50px;
}
.logo__text {
  display: block;
  font-weight: 300;
  font-size: 20px;
  line-height: 50px;
  color: #1968FC;
  margin-left: 10px;
  text-decoration: none;
}

.headline {
  position: relative;
  margin-top: 80px;
}
@media screen and (min-width: 1150px) {
  .headline {
    margin-top: 150px;
  }
}

.headline-info {
  display: flex;
  flex-direction: column;
}

.headline__title {
  width: 480px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 1px;
}
@media screen and (min-width: 1150px) {
  .headline__title {
    width: 600px;
  }
}

.headline__description {
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #11223F;
  margin-top: 20px;
  width: 480px;
}
@media screen and (min-width: 1150px) {
  .headline__description {
    width: 600px;
  }
}

.headline__upload-btn {
  width: 300px;
  margin-top: 40px;
  display: none;
}
@media screen and (min-width: 1150px) {
  .headline__upload-btn {
    display: block;
  }
}

.headline__upload-btn_sm {
  display: block;
}
@media screen and (min-width: 1150px) {
  .headline__upload-btn_sm {
    display: none;
  }
}

.headline__img {
  width: 100%;
}

.img-block {
  margin: 80px 20px 0 20px;
}
@media screen and (min-width: 1150px) {
  .img-block {
    margin: 0;
    position: absolute;
    top: 50px;
    right: 0;
  }
}

.upload {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png);
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
}
@media screen and (min-width: 1150px) {
  .upload {
    display: none;
  }
}

.upload__title {
  width: 520px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 1150px) {
  .reviews {
    margin-top: 160px;
  }
}

.reviews__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1150px) {
  .reviews__box {
    flex-direction: row;
    justify-content: space-between;
  }
}

.review {
  padding: 40px;
  margin-top: 50px;
  background-color: #fff;
}
@media screen and (min-width: 1150px) {
  .review {
    width: 540px;
    height: 280px;
    margin-top: 0;
  }
}

.review__info {
  display: flex;
}

.review__description {
  margin-left: 20px;
  margin-top: 20px;
}

.review__name {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #11223F;
}

.review__status {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  color: #1967FA;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.quote {
  height: 46px;
  width: 60px;
  margin-left: auto;
}

.review__text {
  font-size: 16px;
  line-height: 30px;
  color: #11223F;
  margin-top: 40px;
}

.wokflow {
  padding-top: 120px;
}

.wokflow-box {
  position: relative;
  margin-top: 48px;
}
@media screen and (min-width: 1150px) {
  .wokflow-box {
    margin-top: 38px;
    display: flex;
  }
}

.workflow-step {
  padding: 40px;
  background-color: #fff;
  position: relative;
  height: 220px;
}

@media screen and (min-width: 1150px) {
  .workflow-step__second {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1150px) {
  .workflow-step__third {
    margin-top: 80px;
  }
}

.boredr-line {
  display: block;
  border-right: 2px dashed #1968FC;
  height: 40px;
  width: 60px;
}
@media screen and (min-width: 1150px) {
  .boredr-line {
    border-right: none;
    border-bottom: 2px dashed #1968FC;
  }
}

@media screen and (min-width: 1150px) {
  .boredr-line__first {
    height: 105px;
  }
}

@media screen and (min-width: 1150px) {
  .boredr-line__second {
    height: 145px;
  }
}

.workflow-step__top-block {
  display: flex;
  justify-content: space-between;
}

.workflow-step__number {
  text-transform: uppercase;
  font-weight: bold;
}

.workflow-step__title {
  color: #1967FA;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.workflow-step__img {
  height: 36px;
  width: 40px;
}

.workflow-step__text {
  margin-top: 20px;
}

.features {
  margin-top: 120px;
}

.feature__list {
  margin-top: 40px;
}
@media screen and (min-width: 1150px) {
  .feature__list {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
  }
}

.feature {
  position: relative;
  margin-top: 48px;
}
@media screen and (min-width: 1150px) {
  .feature {
    width: 320px;
    height: 290px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1150px) {
  .feature__second {
    margin-top: 88px;
  }
}

@media screen and (min-width: 1150px) {
  .feature__third {
    margin-top: 128px;
  }
}

.feature__info {
  display: flex;
  align-items: center;
  background-color: #F3F7FF;
}

.feature__img {
  width: 120px;
  height: 120px;
}

.feature__title {
  padding: 20px;
}
@media screen and (min-width: 1150px) {
  .feature__title {
    width: 160px;
  }
}

.feature__text {
  padding: 40px;
  background-color: #fff;
  font-size: 16px;
  line-height: 30px;
}

.users {
  margin-top: 120px;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user {
  width: 250px;
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}
@media screen and (min-width: 1150px) {
  .user {
    width: 360px;
    margin-top: 38px;
  }
}

.user__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #11223F;
}

.user__title {
  text-transform: uppercase;
  color: #1967FA;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.purposes {
  margin-top: 120px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1150px) {
  .purposes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.purpose {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 38px;
}
@media screen and (min-width: 1150px) {
  .purpose {
    width: 540px;
  }
}

.purpose__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  margin-left: 20px;
}

.consultation {
  padding: 60px 0;
  background-color: #1968FC;
  position: relative;
}
@media screen and (min-width: 1150px) {
  .consultation {
    padding: 80px 0;
  }
}

.consultation__title {
  color: #fff;
  width: fit-content;
  font-weight: bold;
}

.line__fix {
  border-color: #fff;
}

.consultation__description {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  margin-top: 38px;
}
@media screen and (min-width: 1150px) {
  .consultation__description {
    margin-top: 48px;
    width: 640px;
    height: 80px;
  }
}

.consultation-btn {
  width: 320px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1968FC;
  background: #fff;
}

.consultation__img {
  display: none;
}
@media screen and (min-width: 1150px) {
  .consultation__img {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
  }
}

.stories {
  margin-top: 60px;
}
@media screen and (min-width: 1150px) {
  .stories {
    margin-top: 120px;
  }
}

@media screen and (min-width: 1150px) {
  .stories-list {
    justify-content: space-between;
    display: flex;
  }
}

@media screen and (min-width: 1150px) {
  .story-card__block {
    width: 420px;
  }
}

.story-card {
  display: flex;
  margin-top: 38px;
  height: 299px;
}

.story-card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}

.story-card__img {
  height: 33px;
  width: 40px;
  margin-right: 20px;
}

.story-card__text {
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
}

.page-footer {
  background: #FBFBFB;
  margin: 61px 0 0 0;
}

.logo__text_footer {
  width: 200px;
  background: rgba(25, 104, 252, 0.05);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  align-items: center;
  text-align: center;
  margin-left: 0;
}

.logo_footer {
  margin-right: 70px;
}

.footer__links {
  display: flex;
  height: 50px;
  width: 100px;
  align-items: center;
  padding-top: 10px;
}
@media screen and (min-width: 1150px) {
  .footer__links {
    margin-left: 50px;
  }
}

.social {
  align-self: baseline;
  margin-right: 28px;
}

.footer-nav {
  display: flex;
  align-items: center;
  padding: 40px 0;
  position: relative;
}

.footer__icon {
  position: absolute;
  width: 60px;
  height: 55px;
  bottom: 0;
  right: 0;
}

.story-card__link {
  color: #000;
}

/*# sourceMappingURL=style.css.map */
