.consultation {
    padding: 60px 0;
    background-color: #1968FC;
    position: relative;
    @include for-large-up {
        padding: 80px 0;
    }
}

.consultation__title {
    color: #fff;
    width: fit-content;
    font-weight: bold;
}

.line__fix {
    border-color: #fff;
}

.consultation__description {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin-top: 38px;
    @include for-large-up {
        margin-top: 48px;
        width: 640px;
        height: 80px;
    }
}

.consultation-btn {
    background-color: #fff;
    color: #1968FC;
    width: 300px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.consultation__img {
    display: none;
    @include for-large-up {
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
    }
}