.consultation {
    padding: 60px 0;
    background-color: #1968FC;
}

.consultation__title {
    color: #fff;
}

.line__fix {
    border-color: #fff;
}

.consultation__description {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin-top: 36px;
}

.consultation-btn {
    background-color: #fff;
    color: #1968FC;
    width: 300px;
    margin-top: 40px;
}