.features {
    padding-top: 120px;
}

.feature__list {
    margin-top: 40px;
    @include for-large-up {
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
    }
}

.feature {
    position: relative;
    margin-top: 60px;
    @include for-large-up {
        width: 320px;
        height: 290px;
        margin-top: 0;
    }
}

.feature__second {
    @include for-large-up {
        margin-top: 88px;
    }
}

.feature__third {
    @include for-large-up {
        margin-top: 128px;
    }
}

// .feature__last {
//     @include for-large-up {
//         margin-top: 80px;
//     }
// }
.feature__info {
    display: flex;
    align-items: center;
    background-color: #F3F7FF;
    ;
}

.feature__img {
    width: 120px;
    height: 120px;
}

.feature__title {
    padding: 20px;
}

.feature__text {
    padding: 40px;
    background-color: #fff;
    font-size: 16px;
    line-height: 30px;
}