.headline {
    position: relative;
    padding-top: 80px;
    @include for-large-up {
        padding-top: 150px;
    }
}

.headline-info {
    display: flex;
    flex-direction: column;
}

.headline__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    @include for-large-up {
        width: 600px;
    }
}

.headline__description {
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #11223F;
    margin-top: 20px;
    @include for-large-up {
        width: 600px;
    }
}

.headline__upload-btn {
    width: 300px;
    margin-top: 40px;
}

.headline__img {
    margin-top: 80px;
    width: 100%;
}

.img-block {
    margin: 0 20px;
    @include for-large-up {
        position: absolute;
        bottom: -250px;
        right: 0;
    }
}