.headline {
    position: relative;
    margin: 0 80px;
    margin-top: 80px;
    @include for-large-up {
        margin-top: 150px;
    }
}

.headline-info {
    display: flex;
    flex-direction: column;
}

.headline__title {
    width: 480px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    @include for-large-up {
        width: 600px;
    }
}

.headline__description {
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #11223F;
    margin-top: 20px;
    width: 480px;
    @include for-large-up {
        width: 600px;
    }
}

.headline__upload-btn {
    width: 300px;
    margin-top: 40px;
    display: none;
    @include for-large-up {
        display: block;
    }
}

.headline__upload-btn_sm {
    display: block;
    @include for-large-up {
        display: none;
    }
}

.headline__img {
    width: 100%;
}

.img-block {
    margin: 80px 20px 0 20px;
    @include for-large-up {
        margin: 0;
        position: absolute;
        top: 50px;
        right: 0;
    }
}