.headline {
    position: relative;
}

.headline-info {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.headline__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 1px;
}

.headline__description {
    font-size: 20px;
    line-height: 40px;
    /* or 200% */
    display: flex;
    align-items: center;
    color: #11223F;
    margin-top: 20px;
}

.headline__upload-btn {
    width: 300px;
    margin-top: 40px;
}

.headline__img {
    width: 100%;
    // margin: 80px 20px 0 20px // height: 10px;
}

.test {
    margin: 0 20px;
}