.purposes {
    margin-top: 120px;
    margin-bottom: 60px;
}

.purposes-list {
    @include for-large-up {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.purpose {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 40px;
    @include for-large-up {
        width: 540px;
    }
}

.purpose__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    margin-left: 20px;
}