.purposes {
    padding: 120px 0 60px;
}

.purpose {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 40px;
}

.purpose__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    margin-left: 20px;
}