.stories {
    margin-top: 60px;
}

.story-card {
    display: flex;
    margin-top: 38px;
}

.story-card__img {
    height: 33px;
    width: 40px;
    margin-right: 20px;
}

.story-card__text {
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
}