.upload {
    background-image: url(img/PleaseVisitDesktopSiteSectionBackground.png);
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload__title {
    width: 520px;
    text-align: center;
    color: #fff;
}