.upload {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png);
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    @include for-large-up {
        display: none;
    }
}

.upload__title {
    width: 520px;
    text-align: center;
    color: #fff;
}