.wokflow {
    padding-top: 120px;
}

.wokflow-box {
    position: relative;
    margin-top: 48px;
    @include for-large-up {
        margin-top: 38px;
        display: flex;
    }
}

.workflow-step {
    padding: 40px;
    background-color: #fff;
    position: relative;
    height: 220px;
}

.workflow-step__second {
    @include for-large-up {
        margin-top: 40px;
    }
}

.workflow-step__third {
    @include for-large-up {
        margin-top: 80px;
    }
}

.boredr-line {
    display: block;
    border-right: 2px dashed #1968FC;
    height: 40px;
    width: 60px;
    @include for-large-up {
        border-right: none;
        border-bottom: 2px dashed #1968FC;
    }
}

.boredr-line__first {
    @include for-large-up {
        height: 105px;
    }
}

.boredr-line__second {
    @include for-large-up {
        height: 145px;
    }
}

.workflow-step__top-block {
    display: flex;
    justify-content: space-between;
}

.workflow-step__number {
    text-transform: uppercase;
    font-weight: bold;
}

.workflow-step__title {
    color: #1967FA;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
}

.workflow-step__img {
    height: 36px;
    width: 40px;
}

.workflow-step__text {
    margin-top: 20px;
}